##Project specific Ignores
bin/*
logs/*
scripts/
tests/logs/*
docs/todo.txt
TIEngineVS*
src/logs/*

#Build Artifacts
*TIEngine
*TIEngine.so
*TIEngine_tests
*TIEngine_run
*libTIEngine.a

#Dependencies
lib/*

#Cmake stuff
CMakeFiles
CMakeCache.txt
cmake_install.cmake
makefile
CTestTestfile.cmake
CMakeSettings.json

#MSVC
*sln
*vcxproj*
*vcxproj.filters
out/*
tests/out/*
.vs
src/Debug/*
src/TIEngine.dir/*
TIEngine.dir/*
src/libTIEngine.dir/*
tests/Debug/*
tests/TIEngine_tests.dir/*
x64/*
Debug/*
src/TIEngine_run.dir

